@font-face {
    font-family: 'nazanin';
    src: url('nazanin.ttf');
}
body {
    font-family: nazanin;
    direction: rtl;
    background: #f0f4f8;
    margin: 50px;
    padding: 0;
}

.container {
    max-width: 480px;
    margin: 50px auto;
    background: white;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 7px 20px rgba(0,0,0,0.1);
}

h2 {
    text-align: center;
    margin-bottom: 25px;
    color: #333;
}

label {
    font-weight: bold;
    margin-top: 10px;
    display: block;
    color: #444;
}

input {
    width: 20%;
    padding: 10px;
    margin-top: 8px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 15px;
}

button {
    width: 25%;
    margin-top: 18px;
    padding: 5px;
    background: #0066cc;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;
    font-family: nazanin;
}

button:hover {
    background: #004b99;
}

.result {
    margin-top: 25px;
    padding: 15px;
    background: #e6f7ff;
    border-radius: 10px;
    border: 1px solid #b3e0ff;
    font-size: 18px;
    color: #005580;
    text-align: center;
}
